DISCORD_TOKEN=your_discord_bot_token
AUTHORIZED_ROLE=Admin
DOCKER_CONTAINER=your_minecraft_container_name
TZ=Europe/Paris
RCON_HOST=your_rcon_host
RCON_PORT=your_rcon_port
RCON_PASSWORD=your_rcon_password

